*.o
*.suo
*.bin
*.aps
*.vsp
*.opensdf
*.sdf
*.psess
*.ncb
*.suo
nesemu2
nesemu2*.exe
nesemu2.log
nesemu2.cfg
stdout.txt
stderr.txt
projects/codeblocks/*.depend
projects/codeblocks/*.layout
projects/codeblocks/bin
projects/codeblocks/obj
projects/vc2012/Release*
projects/vc2012/Debug*
projects/vc2012/Profile
projects/vc2012/ipch
test/
resources/old/
